.alert {
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    padding: 0.75rem 1.25rem;
    border-radius: 0.35rem;
    width: 50%;
    margin: auto;
    display: none;

    &--info {
        background: $info;
        color: $text-info;
        border: 1px solid $border-info;
    }

    &--danger {
        background: $danger;
        color: $border-danger;
        border: 1px solid $text-danger;
    }

    &--warning {
        background: $warning;
        color: $text-warning;
        border: 1px solid $border-warning;
    }

    &--success{
        background: $success;
        color: $text-success;
        border: 1px solid $border-success;
    }
}