.error-404
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 3rem;
    text-align: center;
    color: $white;
    background: url("https://images.pexels.com/photos/1775043/pexels-photo-1775043.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.error-404 h1
{
    margin: 0;
}

.error-404 .button .cta-home 
{
    margin-top: 4em;
}