/* section {
    padding: 5rem 9%;
}

section:nth-child(even) {
    background: $light-grey;
}

.home .home-slider .slide {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 9rem;
}

.home .home-slider .slide  .content {
    flex: 1 1 45rem;
}

.home .home-slider .slide  .image {
    flex: 1 1 45rem;
}

.home .home-slider .slide  .image img {
    width: 100%;
}
.home .home-slider .slide .content h3 {
    color: $night-blue;
    font-size: 7rem;
}

.home .home-slider .slide .content span {
    color: $green;
    font-size: 2.5rem;
}

.home .home-slider .slide .content p {
    color: $light-grey;
    font-size: 2.2rem;
    padding: .5rem 0;
    line-height: 1.5;
} */


body.homepage 
{
    // background-color: $black;
}

.home .home-slider .wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home .home-slider .slide 
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10%;
}

.home .home-slider .wrapper .sliders-buttons 
{
    margin: 3rem 0;
}

.slides 
{
    display: flex;
    flex-direction: row;
}

 #home .home-slider div.container .sliders img 
{
    display: none;
}

#home .home-slider div.container .sliders img.active
{
    display: block;
    border: 1px solid $white;
    width: 100%;
}

.sliders-buttons 
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
