body {
    background-color: $light-grey;
}

#form-login div.wrapper
{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $white;
    padding: 30px;
    box-shadow: 0 50px 50px -50px $black;
}

#form-login div.container form
{
    margin-left: 10rem;
}

div.wrapper div.formLogin 
{
    width: 100%;
    margin-left: 80px;
}
#form-login div.wrapper div.container h1 
{
    text-transform: uppercase;
}

#form-login div.wrapper div.container label 
{
    font-size: 15px;
    text-transform: uppercase;
    color: #1c1c1e;
    margin-bottom: 20px;
}

#form-login div.wrapper input.inputs-design 
{
    border-radius: 0;
    width: 100%;
    border: none;
    outline: none;
    border-bottom:  2px solid $black;
    padding: 7px 0;
    font-size: 20px;
    margin: 0 0 38px 0;
} 

#form-login div.wrapper input.submit_button 
{
    color: $white;
    background-color: $black;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    padding: 10px 35px;
    font-weight: 500;
    cursor: pointer;
} 

#form-login div.wrapper input.submit_button:hover {
    background-color: $light-grey;
    color: $black;
}

#form-login div.wrapper img
{
    width: 56%;
}