body {
    background-color: $light-grey;
}

#form-login div.container
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $white;
    padding: 30px;
    box-shadow: 0 50px 50px -50px $black;
}

div.container div.formLogin 
{
    width: 100%;
    margin-left: 80px;
}

div.container div.formLogin h2 
{
    text-transform: uppercase;
    color: #1c1c1e;
    margin-bottom: 20px;
}

div.container div.formLogin input 
{
    border-radius: 0;
    width: 100%;
    border-bottom:  2px solid $black;
    margin-bottom: 25px;
    padding: 7px 0;
    font-size: 20px;
} 

div.container div.formLogin button 
{
    color: $white;
    background-color: $black;
    font-size: 14px;
    border-radius: 4px;
    padding: 7px 35px;
    font-weight: 500;
    cursor: pointer;
} 

div.container div.formLogin button:hover {
    background-color: $light-grey;
    color: $black;
}

div.container img
{
    width: 56%;
}