* 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

body 
{
    min-height: 100vh;
    width: 100%;
    font-family: $font2;
}

.container 
{
    width: 1064px;
    margin: auto;
}

h1, h2 
{
    font-family: $font2;
}

#register-form h1 
{
    font-weight: 100;
    text-align: center;
    margin: 1em;
    font-size: 50px;
}

i {
    font-size: 1.3rem;
    padding: 0 0.3rem;
    cursor: pointer;
}

i:hover {
    color: $excentric-violet;
}