// COLORS
$white : #FFF;
$grey : #AAA;
$light-grey : #F2F2F2;
$very-light-grey : #f1f5f9;
$dark-grey: #444;
$dark-light-grey: #333;
$red: #ce0a0a;
$green: #31aa66;
$black: #000;
$rose: #9E768F;
$yellow : #FCF300;
$light-yellow: #fff4de;
$blue : #072AC8;
$light-blue : #c9f7f5;
$night-blue : #011936;
$transparent : none;
$violet : #8da2fb;
$excentric-violet : #5850ec;
$orange: #FF9B54;


// GRID
$container-width: 1200px;
$gutter-width: 30px;
$col-number: 12;
$sm-width: 576px;
$md-width: 768px;
$lg-width: 992px;
$bloc-mt: 10px;