@import url(https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap);@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap);@charset "UTF-8";
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 calc(30px/-2);
}

@media screen and (min-width: 992px) {
  .col-lg-1 {
    width: 8.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-lg-2 {
    width: 16.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-lg-3 {
    width: 25%;
    padding: 0 calc(30px/2);
  }

  .col-lg-4 {
    width: 33.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-lg-5 {
    width: 41.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-lg-6 {
    width: 50%;
    padding: 0 calc(30px/2);
  }

  .col-lg-7 {
    width: 58.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-lg-8 {
    width: 66.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-lg-9 {
    width: 75%;
    padding: 0 calc(30px/2);
  }

  .col-lg-10 {
    width: 83.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-lg-11 {
    width: 91.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-lg-12 {
    width: 100%;
    padding: 0 calc(30px/2);
  }
}
@media screen and (min-width: 768px) {
  .col-md-1 {
    width: 8.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-md-2 {
    width: 16.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-md-3 {
    width: 25%;
    padding: 0 calc(30px/2);
  }

  .col-md-4 {
    width: 33.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-md-5 {
    width: 41.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-md-6 {
    width: 50%;
    padding: 0 calc(30px/2);
  }

  .col-md-7 {
    width: 58.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-md-8 {
    width: 66.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-md-9 {
    width: 75%;
    padding: 0 calc(30px/2);
  }

  .col-md-10 {
    width: 83.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-md-11 {
    width: 91.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-md-12 {
    width: 100%;
    padding: 0 calc(30px/2);
  }
}
@media screen and (min-width: 576px) {
  .col-sm-1 {
    width: 8.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-sm-2 {
    width: 16.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-sm-3 {
    width: 25%;
    padding: 0 calc(30px/2);
  }

  .col-sm-4 {
    width: 33.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-sm-5 {
    width: 41.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-sm-6 {
    width: 50%;
    padding: 0 calc(30px/2);
  }

  .col-sm-7 {
    width: 58.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-sm-8 {
    width: 66.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-sm-9 {
    width: 75%;
    padding: 0 calc(30px/2);
  }

  .col-sm-10 {
    width: 83.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-sm-11 {
    width: 91.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-sm-12 {
    width: 100%;
    padding: 0 calc(30px/2);
  }
}
.wrapper {
  margin: 1rem 3rem;
}

main {
  padding: 1rem;
  background-color: #f1f5f9;
  min-height: calc(111vh - 70px);
  margin-top: 50px;
}

.main_content {
  margin-left: 280px;
  transition: margin- left 600ms;
  background-color: #f1f5f9;
}

.trainings_items ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.training_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFF;
}

.steps {
  background: #5850ec;
  padding: 1rem 1.5rem;
  margin: 1.5rem;
  border-radius: 50%;
}

.training_item li {
  font-weight: 400;
  color: #444;
}

.orders small {
  color: #5850ec;
  font-weight: 600;
  display: inline-block;
  margin-left: 1rem;
  font-size: 0.8rem;
}

@media only screen and (max-width: 1124px) {
  .sidebar {
    left: -100%;
    z-index: 30;
  }

  .main-content {
    margin-left: 0;
  }

  header {
    left: 0;
    width: 100%;
  }

  #sidebar_toggle:checked ~ .sidebar {
    left: 0;
  }

  #sidebar_toggle:checked ~ header {
    left: 0;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 768px) {
  .cards {
    grid-template-columns: 100%;
  }

  .stats_grid {
    grid-template-columns: 100%;
  }

  .page_header {
    display: block;
  }

  .header_actions {
    margin-top: 1rem;
    text-align: right;
  }

  .header_actions button:first-child {
    margin-left: 0rem;
  }
}
.button {
  display: block;
  height: 45px;
  border-radius: 3px;
}
.button--large {
  padding: 0.6rem 1rem;
  width: 70%;
  place-items: center;
  margin: 1rem auto;
}
.button--small {
  padding: 0.5rem;
  border-radius: 3px;
}
.button--violet {
  background-color: #5850ec;
  color: #FFF;
  border: 1px solid #5850ec;
}
.button--lightviolet {
  background: #8da2fb;
  color: #011936;
  border: 1px solid #8da2fb;
}

.submit_row {
  text-align: center;
}

.submit_button {
  display: inline-block;
  padding: 0.8em 4em;
  border-radius: 5px;
  border: 1px solid #AAA;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
  transition: all 0.3sec;
}
.submit_button:hover {
  background-color: #eaeaea;
  border: 1px solid #FFF;
}
.submit_button--night_blue {
  background-color: #011936;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  margin: auto;
}

h1, h2 {
  font-family: "Poppins", sans-serif;
}

i {
  font-size: 1.3rem;
  padding: 0 0.3rem;
  cursor: pointer;
}

i:hover {
  color: #5850ec;
}

.inputs-design {
  padding: 1em 2em;
  margin: 1em 0px 3em 0em;
  border-radius: 7px;
  border: 1.5px solid #A9B4C2;
  width: 100%;
}

#sidebar_toggle {
  display: none;
}

.body_label {
  position: fixed;
  height: 100%;
  width: calc(100% - 280px);
  z-index: 30;
  right: -100%;
  top: 0;
}

#sidebar_toggle:checked ~ .sidebar {
  left: -100%;
}

#sidebar_toggle:checked ~ .body_label {
  right: 0%;
}

#sidebar_toggle:checked ~ .main_content header {
  left: 0;
  width: 100%;
  right: 0;
}

#sidebar_toggle:checked ~ .main_content {
  margin-left: 0%;
}

.sidebar {
  width: 280px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  padding: 1rem 1.5rem;
  background: #011936;
  color: #FFF;
  z-index: 20;
  transition: left 600ms;
  overflow-y: auto;
}

.brand_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand_icons span {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

.sidebar_user {
  margin: 1rem 0rem;
  text-align: center;
}

.sidebar_user img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border-left: 2px solid transparent;
  border-right: 2px solid #F2F2F2;
  border-bottom: 2px solid #F2F2F2;
  border-bottom: 2px solid #F2F2F2;
}

.sidebar_user h3 {
  font-size: 1rem;
  margin: 1em 0 0.2em 0;
}

.sidebar_user span {
  font-size: 0.8rem;
}

.sidebar_menu {
  margin-top: 2rem;
}

.menu_head {
  text-transform: uppercase;
  color: #8da2fb;
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0.6rem;
}

.sidebar ul {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.sidebar_menu li {
  margin-bottom: 0.3rem;
  display: flex;
  align-items: center;
}

.sidebar_menu li a {
  margin-left: 1.5rem;
  color: #F2F2F2;
  font-size: 0.9rem;
}

.sidebar_menu li a span {
  font-size: 1.2rem;
  display: inline-block;
  margin-right: 0.5rem;
}

form h1 {
  text-align: center;
  margin: 2rem 0;
}

.form-container {
  width: 1064px;
  margin: auto;
}

form {
  width: 93%;
}

@media only screen and (max-width: 1310px) {
  .container {
    width: 100%;
  }
}
.cards {
  display: grid;
  grid-gap: 3rem;
  margin: 3rem 0;
}
.cards--3-columns {
  grid-template-columns: repeat(3, 1fr);
}
.cards--4-columns {
  grid-template-columns: repeat(4, 1fr);
}

.card {
  background: #FFF;
  padding: 1rem;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.card--large {
  min-height: 250px;
  padding: 2.5rem 2rem;
  margin: 2rem 0;
}
.card--medium {
  padding: 2.5rem 1rem;
  min-height: 280px;
  text-align: center;
}

.card_flex {
  display: grid;
  align-items: center;
}
.card_flex--85 {
  grid-template-columns: 85% auto;
}
.card_flex--70  {
  grid-template-columns: 70% auto;
}

.card_head span {
  display: block;
  text-transform: uppercase;
  color: #444;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}

.card_head small {
  font-weight: 600;
  color: #444;
}

.card_info h2 {
  font-size: 2.2rem;
  color: #333;
}

.card_chart {
  font-size: 2rem;
}
.card_chart--green {
  color: #31aa66;
}
.card_chart--orange {
  color: #FF9B54;
}
.card_chart--red {
  color: #ce0a0a;
}

.stats_grid {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: auto 67%;
  grid-gap: 2rem;
}

.analytics_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.analytics_head span {
  font-size: 1.5rem;
}

.analytics_chart small {
  font-weight: 600;
  color: #AAA;
  display: block;
  margin-bottom: 1rem;
}

.chart_circle {
  height: 150px;
  width: 150px;
  border-left: 3px solid none;
  border-right: 3px solid #5850ec;
  border-bottom: 3px solid #5850ec;
  border-top: 3px solid #5850ec;
  display: grid;
  place-items: center;
  margin: auto;
  border-radius: 50%;
  margin-bottom: 3rem;
}

header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  position: fixed;
  left: 280px;
  width: calc(100% - 280px);
  top: 0;
  z-index: 20;
  background-color: #FFF;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
  transition: left 600ms;
}

.menu-toggle label {
  height: 60px;
  width: 60px;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  border-radius: 50%;
}

.menu-toggle label:hover {
  background-color: #F2F2F2;
}

.header_icons span {
  display: inline-block;
  margin-left: 0.7rem;
  font-size: 1.4rem;
}

.page_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_actions button {
  outline: none;
  color: #FFF;
  background: #5850ec;
  border: none;
  padding: 0.6rem 1rem;
  margin-left: 0.3rem;
  border-radius: 3px;
  font-weight: 600;
}

.header_actions button span {
  font-size: 1.2rem;
}

.orders {
  overflow-x: auto;
}

.orders table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1rem;
  overflow-x: auto;
}

.table_responsive {
  overflow: auto;
}

.orders table td div,
.orders table th div {
  background-color: #FFF;
  margin-top: 0.5rem;
  margin-bottom: 1.2rem;
  padding: 0.5rem;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #444;
  font-weight: 500;
}

.orders span.indicator {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.orders span.indicator--blue {
  background: #c9f7f5;
}
.orders span.indicator--yellow {
  background: #fff4de;
}