@import url(https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap);@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap);.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 calc(30px/-2);
}

@media screen and (min-width: 992px) {
  .col-lg-1 {
    width: 8.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-lg-2 {
    width: 16.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-lg-3 {
    width: 25%;
    padding: 0 calc(30px/2);
  }

  .col-lg-4 {
    width: 33.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-lg-5 {
    width: 41.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-lg-6 {
    width: 50%;
    padding: 0 calc(30px/2);
  }

  .col-lg-7 {
    width: 58.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-lg-8 {
    width: 66.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-lg-9 {
    width: 75%;
    padding: 0 calc(30px/2);
  }

  .col-lg-10 {
    width: 83.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-lg-11 {
    width: 91.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-lg-12 {
    width: 100%;
    padding: 0 calc(30px/2);
  }
}
@media screen and (min-width: 768px) {
  .col-md-1 {
    width: 8.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-md-2 {
    width: 16.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-md-3 {
    width: 25%;
    padding: 0 calc(30px/2);
  }

  .col-md-4 {
    width: 33.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-md-5 {
    width: 41.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-md-6 {
    width: 50%;
    padding: 0 calc(30px/2);
  }

  .col-md-7 {
    width: 58.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-md-8 {
    width: 66.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-md-9 {
    width: 75%;
    padding: 0 calc(30px/2);
  }

  .col-md-10 {
    width: 83.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-md-11 {
    width: 91.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-md-12 {
    width: 100%;
    padding: 0 calc(30px/2);
  }
}
@media screen and (min-width: 576px) {
  .col-sm-1 {
    width: 8.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-sm-2 {
    width: 16.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-sm-3 {
    width: 25%;
    padding: 0 calc(30px/2);
  }

  .col-sm-4 {
    width: 33.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-sm-5 {
    width: 41.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-sm-6 {
    width: 50%;
    padding: 0 calc(30px/2);
  }

  .col-sm-7 {
    width: 58.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-sm-8 {
    width: 66.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-sm-9 {
    width: 75%;
    padding: 0 calc(30px/2);
  }

  .col-sm-10 {
    width: 83.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-sm-11 {
    width: 91.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-sm-12 {
    width: 100%;
    padding: 0 calc(30px/2);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 1064px;
  margin: auto;
}

h1, h2 {
  font-family: "Poppins", sans-serif;
}

#register-form h1 {
  font-weight: 100;
  text-align: center;
  margin: 1em;
  font-size: 50px;
}

.inputs-design {
  padding: 1em 2em;
  margin: 1em 0px 3em 0em;
  border-radius: 7px;
  border: 1.5px solid #A9B4C2;
  width: 100%;
}

.sidebar {
  width: 280px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  padding: 1rem 1.5rem;
  background: #011936;
  color: #FFF;
}

.brand_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand_icons span {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

.sidebar_user {
  margin: 1rem 0rem;
  text-align: center;
}

.sidebar_user img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border-left: 2px solid transparent;
  border-right: 2px solid #F2F2F2;
  border-bottom: 2px solid #F2F2F2;
  border-bottom: 2px solid #F2F2F2;
}

.sidebar_user h3 {
  font-size: 1rem;
  margin: 1em 0 0.2em 0;
}

.sidebar_user span {
  font-size: 0.8rem;
}

.sidebar_menu {
  margin-top: 2rem;
}

.menu_head {
  text-transform: uppercase;
  color: #8da2fb;
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0.6rem;
}

.sidebar ul {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.sidebar_menu li {
  margin-bottom: 0.3rem;
  display: flex;
  align-items: center;
}

.sidebar_menu li a {
  margin-left: 1.5rem;
  color: #F2F2F2;
  font-size: 0.9rem;
}

.sidebar_menu li a span {
  font-size: 1.2rem;
  display: inline-block;
  margin-right: 0.5rem;
}

header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.menu-toggle label {
  height: 60px;
  width: 60px;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  border-radius: 50%;
}

.menu-toggle label:hover {
  background-color: #F2F2F2;
}

.header_icons span {
  display: inline-block;
  margin-left: 0.7rem;
  font-size: 1.4rem;
}

.main_content {
  margin-left: 280px;
}

main {
  padding: 1rem;
  background-color: #f1f5f9;
  min-height: calc(100vh - 70px);
}

.page_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_actions button {
  outline: none;
  color: #FFF;
  background: #5850ec;
  border: none;
  padding: 0.6rem 1rem;
  margin-left: 0.3rem;
  border-radius: 3px;
  font-weight: 600;
}

.header_actions button span {
  font-size: 1.2rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  margin-top: 2rem;
}

.card_single {
  background: #FFF;
  padding: 1rem;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.card_flex {
  display: grid;
  grid-template-columns: 70% auto;
}

.card_head span {
  display: block;
  text-transform: uppercase;
  color: #444;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}