@import url(https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap);@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap);@charset "UTF-8";
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 calc(30px/-2);
}

@media screen and (min-width: 992px) {
  .col-lg-1 {
    width: 8.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-lg-2 {
    width: 16.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-lg-3 {
    width: 25%;
    padding: 0 calc(30px/2);
  }

  .col-lg-4 {
    width: 33.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-lg-5 {
    width: 41.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-lg-6 {
    width: 50%;
    padding: 0 calc(30px/2);
  }

  .col-lg-7 {
    width: 58.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-lg-8 {
    width: 66.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-lg-9 {
    width: 75%;
    padding: 0 calc(30px/2);
  }

  .col-lg-10 {
    width: 83.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-lg-11 {
    width: 91.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-lg-12 {
    width: 100%;
    padding: 0 calc(30px/2);
  }
}
@media screen and (min-width: 768px) {
  .col-md-1 {
    width: 8.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-md-2 {
    width: 16.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-md-3 {
    width: 25%;
    padding: 0 calc(30px/2);
  }

  .col-md-4 {
    width: 33.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-md-5 {
    width: 41.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-md-6 {
    width: 50%;
    padding: 0 calc(30px/2);
  }

  .col-md-7 {
    width: 58.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-md-8 {
    width: 66.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-md-9 {
    width: 75%;
    padding: 0 calc(30px/2);
  }

  .col-md-10 {
    width: 83.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-md-11 {
    width: 91.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-md-12 {
    width: 100%;
    padding: 0 calc(30px/2);
  }
}
@media screen and (min-width: 576px) {
  .col-sm-1 {
    width: 8.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-sm-2 {
    width: 16.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-sm-3 {
    width: 25%;
    padding: 0 calc(30px/2);
  }

  .col-sm-4 {
    width: 33.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-sm-5 {
    width: 41.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-sm-6 {
    width: 50%;
    padding: 0 calc(30px/2);
  }

  .col-sm-7 {
    width: 58.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-sm-8 {
    width: 66.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-sm-9 {
    width: 75%;
    padding: 0 calc(30px/2);
  }

  .col-sm-10 {
    width: 83.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-sm-11 {
    width: 91.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-sm-12 {
    width: 100%;
    padding: 0 calc(30px/2);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  outline: none;
  border: none;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

.container {
  width: 1064px;
  margin: 1rem auto;
}

h1, h2 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 1em 0;
}

i {
  font-size: 1.3rem;
  padding: 0 0.3rem;
  cursor: pointer;
}

i:hover {
  color: #5850ec;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 1rem 2rem;
  }
}
@media (max-width: 768px) {
  header .icons #menu-bar {
    display: inline-block !important;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #FFF;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a {
    display: block;
    padding: 1.5rem;
    margin: 1rem;
    font-size: 1.8rem;
    background: #F2F2F2;
  }

  #search-form #search-box {
    width: 90%;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 50%;
  }

  .dishes .box-container {
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr)) !important;
  }

  .dishes .box-container .box img {
    height: 75% !important;
    width: 100%;
  }
}
.front-header {
  padding: 1rem;
  background-color: #F2F2F2;
}
.front-header__top {
  display: flex;
  justify-content: space-between;
}
.front-header__sitename {
  margin: 0;
}
.front-header__auth {
  display: flex;
  align-items: center;
}
.front-header__auth button {
  margin: 0 0.2rem;
  width: auto;
}
.front-header__nav {
  text-decoration: none;
}
.front-header__nav ul {
  display: flex;
  flex-wrap: wrap;
}
.front-header__nav ul li {
  margin: 1rem 1rem 0 0;
}

.inputs-design {
  padding: 1em 2em;
  margin: 1em 0px 3em 0em;
  border-radius: 7px;
  border: 1.5px solid #A9B4C2;
  width: 100%;
}

.button {
  display: block;
  height: 45px;
  border-radius: 3px;
  cursor: pointer;
}
.button--large {
  padding: 0.6rem 1rem;
  width: 70%;
  place-items: center;
  margin: 1rem auto;
}
.button--small {
  padding: 0.5rem 3rem;
  border-radius: 3px;
}
.button--violet {
  background-color: #5850ec;
  color: #FFF;
  border: 1px solid #5850ec;
}
.button--lightviolet {
  background: #8da2fb;
  color: #011936;
  border: 1px solid #8da2fb;
}
.button--blue {
  background: #011936;
  color: #FFF;
  border: 1px solid #011936;
}

.submit_row {
  text-align: center;
}

.submit_button {
  display: inline-block;
  padding: 0.8em 4em;
  border-radius: 5px;
  border: 1px solid #AAA;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
  transition: all 0.3sec;
}
.submit_button:hover {
  background-color: #eaeaea;
  border: 1px solid #FFF;
}
.submit_button--night_blue {
  background-color: #011936;
}

.btn_modal {
  padding: 0.2em 2em;
  border-radius: 5px;
  border: 1px solid white;
  text-transform: uppercase;
  margin: 0.4em;
  cursor: pointer;
}
.btn_modal:hover {
  background-color: #eaeaea;
  border: 1px solid #FFF;
}
.btn_modal--danger {
  background-color: #ce0a0a;
  color: #FFF;
}

.close {
  cursor: pointer;
  position: relative;
  left: 26em;
  bottom: 0.4em;
}

.front-form {
  width: 1064px;
  margin: auto;
}

@media only screen and (max-width: 1310px) {
  .container {
    width: 100%;
  }
}
header {
  top: 0;
  left: 0;
  right: 0;
  background: #FFF;
  padding: 1rem 7%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

header .logo {
  color: #000;
  font-size: 2.5rem;
  font-weight: bolder;
}

header .logo i {
  color: #31aa66;
}

header .navbar a {
  font-size: 1.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  letter-spacing: 0.1em;
  color: #AAA;
}

header .navbar a.active,
header .navbar a:hover  {
  color: #FFF;
  background: #AAA;
}

header .icons i,
header .icons a {
  cursor: pointer;
  margin-left: 0.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  font-size: 1.1rem;
  color: #000;
  border-radius: 50%;
  background: #F2F2F2;
}

header .icons i:hover,
header .icons a:hover {
  color: #FFF;
  background: #31aa66;
  transform: rotate(360deg);
}

header .icons #menu-bar {
  display: none;
}

#search-form {
  position: fixed;
  top: -110%;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1004;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

#search-form.active {
  top: 0;
}

#search-form #search-box {
  width: 50rem;
  border-bottom: 0.1rem solid #FFF;
  padding: 1rem 0;
  color: #FFF;
  font-size: 3rem;
  text-transform: none;
  background: none;
}

#search-form #search-box::-moz-placeholder {
  color: #F2F2F2;
}

#search-form #search-box:-ms-input-placeholder {
  color: #F2F2F2;
}

#search-form #search-box::placeholder {
  color: #F2F2F2;
}

#search-form #search-box::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

#search-form label {
  color: #FFF;
  cursor: pointer;
  font-size: 3rem;
}

#search-form label:hover {
  color: #31aa66;
  cursor: pointer;
  font-size: 3rem;
}

#search-form #close {
  position: absolute;
  color: #FFF;
  cursor: pointer;
  top: 2rem;
  right: 3rem;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.7rem;
  color: #FFF;
  background: #011936;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.8rem 3rem;
}
.btn--white {
  background: #FFF;
  color: #000;
}

.btn:hover {
  background: rgba(0, 0, 0, 0.6);
  color: #FFF;
  letter-spacing: 0.1rem;
}
.btn:hover--white {
  background: #000;
  color: #FFF;
}

.sub-heading {
  text-align: center;
  color: #31aa66;
  font-size: 2rem;
  padding-top: 1rem;
}

.heading {
  text-align: center;
  color: #011936;
  font-size: 3rem;
  padding-bottom: 1.5rem;
  text-transform: uppercase;
}

.dishes .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 5.5rem;
  margin: auto 10rem;
}

.dishes .box-container .box {
  padding: 2.5rem;
  background: #FFF;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  text-align: center;
}

.dishes .box-container .box .fa-heart,
.dishes .box-container .box .fa-eye {
  position: absolute;
  top: 1.5rem;
  background: #F2F2F2;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  font-size: 1rem;
  color: #011936;
}

.dishes .box-container .box .fa-heart:hover,
.dishes .box-container .box .fa-eye:hover {
  background: #31aa66;
  color: #FFF;
}

.dishes .box-container .box .fa-heart {
  right: -15rem;
}

.home .home-slider .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home .home-slider .slide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10%;
}

.home .home-slider .wrapper .sliders-buttons {
  margin: 3rem 0;
}

.slides {
  display: flex;
  flex-direction: row;
}

#home .home-slider div.container .sliders img {
  display: none;
}

#home .home-slider div.container .sliders img.active {
  display: block;
  border: 1px solid #FFF;
  width: 100%;
}

.sliders-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.dishes .box-container .box .fa-eye {
  left: -15rem;
}

.dishes .box-container .box:hover .fa-heart {
  right: 1.5rem;
}

.dishes .box-container .box:hover .fa-eye {
  left: 1.5rem;
}

.dishes .box-container .box img {
  height: 17rem;
  margin: 1rem 0;
}

.dishes .box-container .box h3 {
  color: #011936;
  font-size: 2.5rem;
}

.dishes .box-container .box .stars {
  padding: 1rem 0;
}

.dishes .box-container .box .stars i {
  font-size: 1.2rem;
  color: #856404;
}

.dishes .box-container .box span {
  color: #31aa66;
  font-weight: bolder;
  margin-right: 1rem;
  font-size: 1.4rem;
}

section.home .container {
  background: url("https://images.unsplash.com/photo-1515003197210-e0cd71810b5f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80") no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 750px;
  margin: 0 auto;
}

section.home .content {
  position: absolute;
  top: 25%;
  left: 10%;
  padding: 40Px;
}

section.home .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section.home .content .content-title h1 {
  text-transform: uppercase;
  font-size: 8rem;
  color: white;
  letter-spacing: 1rem;
  margin: 1rem 0;
}

section.home .content .content-description {
  text-align: center;
  font-size: 18px;
  line-height: 2;
}

section.about {
  margin: 6rem;
}

section.about p {
  text-align: center;
  font-size: 16px;
  margin: 0 40rem;
}

section.about .content {
  margin: 5rem 0;
  font-size: 25px;
}

section.about .icons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

section.about .icons-container .icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 50px 50px -50px #000;
}

section.about .icons-container .icons span {
  margin-top: 20px;
}

body {
  background-color: #F2F2F2;
}

#form-login div.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #FFF;
  padding: 30px;
  box-shadow: 0 50px 50px -50px #000;
}

#form-login div.container form {
  margin-left: 10rem;
}

div.wrapper div.formLogin {
  width: 100%;
  margin-left: 80px;
}

#form-login div.wrapper div.container h1 {
  text-transform: uppercase;
}

#form-login div.wrapper div.container label {
  font-size: 15px;
  text-transform: uppercase;
  color: #1c1c1e;
  margin-bottom: 20px;
}

#form-login div.wrapper input.inputs-design {
  border-radius: 0;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 2px solid #000;
  padding: 7px 0;
  font-size: 20px;
  margin: 0 0 38px 0;
}

#form-login div.wrapper input.submit_button {
  color: #FFF;
  background-color: #000;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  padding: 10px 35px;
  font-weight: 500;
  cursor: pointer;
}

#form-login div.wrapper input.submit_button:hover {
  background-color: #F2F2F2;
  color: #000;
}

#form-login div.wrapper img {
  width: 56%;
}

#form-register {
  display: flex;
  flex-direction: row;
}

#form-register div.container {
  width: 100%;
}

#form-register div.wrapper {
  background-color: #FFF;
  padding: 40px;
  width: 100%;
  box-shadow: 0 50px 50px -50px #000;
}

#form-register div.wrapper div.container form h1 {
  text-transform: uppercase;
  margin-bottom: 5rem;
}

#form-register div.wrapper div.container form label {
  font-size: 1.6rem;
}

#form-register div.wrapper div.container form input.inputs-design {
  border: none;
  border-bottom: 2px solid black;
  border-radius: 0;
}

body.product-detail {
  background-color: #FFF;
}

.section-produit {
  min-height: 60vh;
}

.section-produit div.container {
  margin-top: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.section-produit div.container .box-image img {
  width: 630px;
}

.section-produit div.container .box-description {
  margin-left: 8rem;
}

.section-produit div.container .box-description .header h1 {
  text-transform: uppercase;
  font-size: 30px;
}

.section-produit div.container .box-description .content {
  margin-bottom: 2rem;
}

.section-produit div.container .box-description .content p {
  font-size: 13px;
  text-align: center;
  line-height: 1.8;
}

.section-produit div.container .box-description .cart .quantity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-produit div.container .box-description .cart label {
  font-size: 18px;
}

.section-produit div.container .box-description .cart .input-quantity {
  text-align: center;
  margin: 2rem 0;
  border: 1px solid white;
  padding: 2px;
}

@media (max-width: 768px) {
  .section-produit .container {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }

  .section-produit .container .box-description {
    margin-left: 0 !important;
  }

  .section-produit .container .box-image img {
    max-width: 250px !important;
  }
}
.error-404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 3rem;
  text-align: center;
  color: #FFF;
  background: url("https://images.pexels.com/photos/1775043/pexels-photo-1775043.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.error-404 h1,
.error-403 h1 {
  margin: 0;
}

.error-404 .button .cta-home,
.error-403 .button .cta-home {
  margin-top: 4em;
}

.error-403 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 3rem;
  text-align: center;
  color: #000;
  background: url("https://images.unsplash.com/photo-1555243896-c709bfa0b564?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80") no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.footer {
  padding: 40px 0;
  background-color: #FFF;
}

.footer .social {
  text-align: center;
  padding: 25px;
}

.footer .social i {
  font-size: 3rem;
}

.footer .social a {
  font-size: 24px;
  color: inherit;
  border: 1px solid #F2F2F2;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}

.footer .social a:hover {
  opacity: 0.9;
}

.footer ul {
  margin-top: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

.footer ul li a {
  color: inherit;
  opacity: 0.8;
}

.footer ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer ul li a:hover {
  color: #5850ec;
}

.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #444;
}