@import url(https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap);@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap);.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 calc(30px/-2);
}

@media screen and (min-width: 992px) {
  .col-lg-1 {
    width: 8.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-lg-2 {
    width: 16.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-lg-3 {
    width: 25%;
    padding: 0 calc(30px/2);
  }

  .col-lg-4 {
    width: 33.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-lg-5 {
    width: 41.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-lg-6 {
    width: 50%;
    padding: 0 calc(30px/2);
  }

  .col-lg-7 {
    width: 58.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-lg-8 {
    width: 66.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-lg-9 {
    width: 75%;
    padding: 0 calc(30px/2);
  }

  .col-lg-10 {
    width: 83.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-lg-11 {
    width: 91.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-lg-12 {
    width: 100%;
    padding: 0 calc(30px/2);
  }
}
@media screen and (min-width: 768px) {
  .col-md-1 {
    width: 8.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-md-2 {
    width: 16.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-md-3 {
    width: 25%;
    padding: 0 calc(30px/2);
  }

  .col-md-4 {
    width: 33.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-md-5 {
    width: 41.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-md-6 {
    width: 50%;
    padding: 0 calc(30px/2);
  }

  .col-md-7 {
    width: 58.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-md-8 {
    width: 66.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-md-9 {
    width: 75%;
    padding: 0 calc(30px/2);
  }

  .col-md-10 {
    width: 83.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-md-11 {
    width: 91.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-md-12 {
    width: 100%;
    padding: 0 calc(30px/2);
  }
}
@media screen and (min-width: 576px) {
  .col-sm-1 {
    width: 8.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-sm-2 {
    width: 16.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-sm-3 {
    width: 25%;
    padding: 0 calc(30px/2);
  }

  .col-sm-4 {
    width: 33.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-sm-5 {
    width: 41.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-sm-6 {
    width: 50%;
    padding: 0 calc(30px/2);
  }

  .col-sm-7 {
    width: 58.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-sm-8 {
    width: 66.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-sm-9 {
    width: 75%;
    padding: 0 calc(30px/2);
  }

  .col-sm-10 {
    width: 83.3333333333%;
    padding: 0 calc(30px/2);
  }

  .col-sm-11 {
    width: 91.6666666667%;
    padding: 0 calc(30px/2);
  }

  .col-sm-12 {
    width: 100%;
    padding: 0 calc(30px/2);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 1064px;
  margin: 1rem auto;
}

h1, h2 {
  font-family: "Poppins", sans-serif;
}

i {
  font-size: 1.3rem;
  padding: 0 0.3rem;
  cursor: pointer;
}

i:hover {
  color: #5850ec;
}

.inputs-design {
  padding: 1em 2em;
  margin: 1em 0px 3em 0em;
  border-radius: 7px;
  border: 1.5px solid #A9B4C2;
  width: 100%;
}

.button {
  display: block;
  height: 45px;
  border-radius: 3px;
}
.button--large {
  padding: 0.6rem 1rem;
  width: 70%;
  place-items: center;
  margin: 1rem auto;
}
.button--small {
  padding: 0.5rem;
  border-radius: 3px;
}
.button--violet {
  background-color: #5850ec;
  color: #FFF;
  border: 1px solid #5850ec;
}
.button--lightviolet {
  background: #8da2fb;
  color: #011936;
  border: 1px solid #8da2fb;
}

.submit_row {
  text-align: center;
}

.submit_button {
  display: inline-block;
  padding: 0.8em 4em;
  border-radius: 5px;
  border: 1px solid #AAA;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
  transition: all 0.3sec;
}
.submit_button:hover {
  background-color: #eaeaea;
  border: 1px solid #FFF;
}
.submit_button--night_blue {
  background-color: #011936;
}

form h1 {
  text-align: center;
  margin: 2rem 0;
}

.front-form {
  width: 1064px;
  margin: auto;
}

@media only screen and (max-width: 1310px) {
  .container {
    width: 100%;
  }
}