.button {
    display: block;
    height: 45px;
    border-radius: 3px ;

    &--large {
        padding: .6rem 1rem;
        width: 70%;
        place-items: center;
        margin: 1rem auto;
    }

    &--small {
        padding: 0.5rem;
        border-radius: 3px;
    }

    &--violet {
        background-color: $excentric-violet;
        color: $white;
        border: 1px solid $excentric-violet ;
    }

    &--lightviolet {
        background: $violet;
        color: $night-blue;
        border: 1px solid $violet ;
    }
}

.submit_row 
{
    text-align: center;
}

.submit_button 
{
    display: inline-block;
    padding: 0.8em 4em;
    border-radius: 5px;
    border: 1px solid $grey;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    cursor: pointer;
    transition: all 0.3sec;
    &:hover {
        background-color: lighten($dark-grey, 65%);
        border: 1px solid $white;
    }
    &--night_blue {
        background-color: $night-blue;
    }
}

.btn_modal {
    padding: 0.2em 2em;
    border-radius: 5px;
    border: 1px solid white;
    text-transform: uppercase;
    margin: 0.4em;
    cursor: pointer;

    &:hover {
        background-color: lighten($dark-grey, 65%);
        border: 1px solid $white;
    }

    &--danger {
        background-color: $red;
        color: $white;
    }
}