// .sidebar 
// {
//     position: fixed;
//      height: 100%;
//      width: 240px;
//      background: $night-blue;
// }

// .sidebar .logo_details 
// {
//     height: 80px;
//     width: 100%;
//     display: flex;
//     align-items: center;
// }

// .sidebar .logo_details i 
// {
//     font-size: 28px;
//     font-weight: 500;
//     color: $white;
//     min-width: 60px;
//     text-align: center;
// }

// .sidebar .logo_details .logo_name 
// {
//     font-size: 24px;
//     font-weight: 500;
//     color: $white;
//     margin-left: 8px;
//     text-transform: uppercase;
// }

// .sidebar .nav_links 
// {
//     margin-top: 16px;
// }

// .sidebar .nav_links li 
// {
//     height: 50px;
//     width: 100%;
//     list-style: none;
// }

// .sidebar .nav_links li a
// {
//     height: 100%;
//     width: 100%;
//     display: flex;
//     align-items: center;
//     text-decoration: none;
// }

// .sidebar .nav_links li a i 
// {
//     min-width: 60px;
//     text-align: center;
//     color: $white;
//     font-size: 18px;
// }

// .sidebar .nav_links li a .link_name 
// {
//     color: $white;
//     font-size: 15px;
//     font-weight: 400;

// }

.sidebar {
    width: 280px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    padding: 1rem 1.5rem;
    background: $night-blue;
    color: $white;
}

// .sidebar_brand {
//     // height: 45px;
// }

.brand_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand_icons span {
    font-size: 1.5rem;
    margin-left: .5rem;
}

.sidebar_user {
    margin: 1rem 0rem;
    text-align: center;
}

.sidebar_user img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border-left: 2px solid transparent ;
    border-right: 2px solid $light-grey;
    border-bottom: 2px solid $light-grey;
    border-bottom: 2px solid $light-grey;
}

.sidebar_user h3 {
    font-size: 1rem;
    margin: 1em 0 0.2em 0;
}

.sidebar_user span {
    font-size: 0.8rem;
}

.sidebar_menu {
    margin-top: 2rem;
}

.menu_head {
    text-transform: uppercase;
    color: $violet;
    font-size: .8rem;
    font-weight: 600;
    margin: 0.6rem;
}

.sidebar ul {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.sidebar_menu li {
    margin-bottom: 0.3rem;
    display: flex;
    align-items: center;
}

.sidebar_menu li a {
    margin-left: 1.5rem;
    color: $light-grey;
    font-size: 0.9rem;
}

.sidebar_menu li a span {
    font-size: 1.2rem;
    display: inline-block;
    margin-right: 0.5rem;
}

header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}


.menu-toggle label {
    height: 60px;
    width: 60px;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    border-radius: 50%;
}

.menu-toggle label:hover {
    background-color: $light-grey;    
}

.header_icons span {
    display: inline-block;
    margin-left: 0.7rem;
    font-size: 1.4rem;
}

.main_content {
    margin-left: 280px;
}

main {
    padding: 1rem;
    background-color: $very-light-grey;
    min-height: calc(100vh - 70px);
}

.page_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_actions button {
    outline: none;
    color: $white;
    background: $excentric-violet;
    border: none;
    padding: .6rem 1rem;
    margin-left: 0.3rem;
    border-radius: 3px;
    font-weight: 600;
}

.header_actions button span {
    font-size: 1.2rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    margin-top: 2rem;
}

.card_single {
    background: $white;
    padding: 1rem;
    box-shadow: 4px 4px 6px rgba(0, 0,0,0.1);
    border-radius: 6px;
}

.card_flex {
    display: grid;
    grid-template-columns: 70% auto;
}

.card_head span {
    display: block;
    text-transform: uppercase;
    color: $dark-grey;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
}